

body{
color:#F6F6F6;
background-color:#333;
}
p{
  font-family:"URW Chancery L";
  font-size:20px;
	padding:5px 5px 5px 5px;
}
a{
	color:#CCCCCC;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.pageHeader{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:300px;
	background-image:url(images/header_programming.jpg);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;

	margin: 0px 0xp 0px 5px;
}

.pageHeader1{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:300px;
	background-image:url(images/header_aero.jpg);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;

	margin: 0px 0xp 0px 5px;
}

.pageHeader2{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:300px;
	background-image:url(images/header_civil.jpg);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;

	margin: 0px 0xp 0px 5px;
}

.pageHeader3{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:300px;
	background-image:url(images/header_ed.jpg);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;

	margin: 0px 0xp 0px 5px;
}

.pageHeader4{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:300px;
	background-image:url(images/header_mech.jpg);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;

	margin: 0px 0xp 0px 5px;
}

.pageHeader5{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	height:300px;
	background-image:url(images/header_programming.jpg);
	background-position:center;
	background-repeat:no-repeat;
	text-align:center;

	margin: 0px 0xp 0px 5px;
}
.Title{
	font-family:"URW Chancery L";
	font-size:40px;
	color:#000;
	position:relative;
	top:10px;
	text-align:left;
	padding-left:10px
}
.subitem{
color:#CCCCCC;
padding:0px 10px 0px 10px;
font-size:15px;
text-decoration:none;
}
.subitem:hover{
	background-color:#565656;
	text-decoration:none;
}


.item{
color:#CCCCCC;
padding:0px 10px 0px 10px;
font-size:18px;
text-decoration:none;
}
.item:hover{
	background-color:#565656;
	text-decoration:none;
}
.data{
	position:relative;
    background:#333;
	width:600px;
	margin:5px 0px 5px 0px;
	text-align:left;
}
.SideMenu{
font-family:"URW Chancery L";
font-size: 20px;
	position:reletive;
	float:right;
	right:0px;
	border:1px solid #F6F6F6;
	margin:5px 5px 5px 5px;
}
.header{
	background-color:#F6F6F6;
	font-size:22px;
	color:#333333;
	text-align:center;
	width:120px;
}
h1{
font-family:"URW Chancery L";
padding-left:10px;
font-size:35px;
}